<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Layout without Aside</title>
        <link rel="stylesheet" href="/static/css/layout.css">
    </head>
    <body>
        <!-- Header -->
        <header th:replace="~{fragment/header :: userHeader}"></header>

        <!-- Main Content -->
        <main layout:fragment="content">
            <!-- 메인 콘텐츠 -->
        </main>

        <!-- Footer -->
        <footer th:replace="~{fragment/footer :: footer}"></footer>
    </body>
</html>
