<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="/static/board/board.js" defer></script>
<body>
<form id="boardForm">
    <label for="boardTitle">제목</label>
    <input type="text" id="boardTitle" name="boardTitle" required/><br/>
    <label for="boardContent">내용</label><br/>
    <textarea id="boardContent" name="boardContent" required></textarea><br/>
    <button type="button" onclick="registerBoard()">등록하기</button>
</form>
</body>
</html>