<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragment/main_layout_no_aside}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/static/js/board/board.js" defer></script> <!-- board.js -->
    <link rel="stylesheet" href="/static/css/layout.css">
    <link rel="stylesheet" href="/static/css/board/board_form.css">
</head>

<body>
<main layout:fragment="content">
<form id="boardForm">
    <label for="boardTitle">제목</label>
    <input type="text" id="boardTitle" name="boardTitle" required/><br/>
    <label for="boardContent">내용</label><br/>
    <textarea id="boardContent" name="boardContent" required></textarea><br/>
    <button type="button" onclick="registerBoard()">등록하기</button>
</form>
</main>
</body>
</html>