<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragment/main_layout_no_aside}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/static/js/common/axios.js"></script> <!-- api 정의된 파일 -->
    <script src="/static/js/board/board.js" defer></script> <!-- board.js -->
    <link rel="stylesheet" href="/static/css/board/board.css" />
    <link rel="stylesheet" href="/static/css/layout.css">
</head>
<body>

<main layout:fragment="content" style="max-width: 100%; padding: 0 0 50px 0">
<div class="banner">
    <img src="/static/img/board_bg.jpg" alt="메인배너">
</div>
<div class="section">

<h1>1:1문의</h1>
<table>
    <thead>
    </thead>
    <tbody id="boardTableBody">
    <!-- 데이터가 동적으로 추가됩니다 -->
    </tbody>
</table>
</div>
</main>
</body>
</html>