<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragment/main_layout_no_aside}">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/static/js/head_hunting/head_hunting.js"></script>
    <link rel="stylesheet" href="/static/css/head_hunting/filters.css">
</head>
<body>
<main layout:fragment="content">
<h1>헤드헌팅 필터</h1>

<div id="filter-section">
    <div id="stack-category">
        <!-- 기술스택 카테고리 버튼들이 여기에 렌더링됩니다 -->
    </div>
    <div id="career-options">
        <!-- 경력 버튼들이 여기에 렌더링됩니다 -->
    </div>
</div>

<button id="search-button">검색하기</button>
<div id="search-results">
    <!-- 검색 결과가 여기에 표시됩니다 -->
</div>

</main>
</body>
</html>