<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.green.backend.repository.dao.CompanyDao">
    <insert id="save">
        INSERT INTO tbl_company (
            id,
            ceo_name,
            business_num,
            homepage,
            company_type_cd,
            company_industry,
            company_detail
        ) VALUES (
            #{company.id},
            #{company.ceoName},
            #{company.businessNum},
            #{company.homepage},
            #{company.companyTypeCd},
            #{company.companyIndustry},
            #{company.companyDetail}
        );
    </insert>
</mapper>