<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.green.backend.repository.dao.common.FileDao">



    <insert id="save">

        INSERT INTO tbl_file (
            file_gbn_cd,
            file_ref_id,
            file_new_name,
            file_old_name,
            file_ext,
            file_size,
            file_url,
            inst_id
        ) VALUES (
            #{file.fileGbnCd},
            #{file.fileRefId},
            #{file.fileNewName},
            #{file.fileOldName},
            #{file.fileExt},
            #{file.fileSize},
            #{file.fileUrl},
            #{file.instId}
        )

    </insert>

</mapper>