<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragment/main_layout_no_aside}">
    <head>
        <title>Example without Aside</title>
        <link rel="stylesheet" href="/static/css/sign_up/sign_up_check.css">
    </head>
    <body>
        <main layout:fragment="content">
            <div class="sign-up-check">
                <div class="title">회원가입</div>
                <div class="buttons">
                    <div class="button" data-user_gbn_cd="10">구직자 <br />회원가입</div>
                    <div class="button" data-user_gbn_cd="20">기업 <br />회원가입</div>
                </div>
                <div class="login"><a href="/sign-in">아이디가 있으신가요? <b>로그인</b></a></div>
            </div>
        </main>
    </body>
</html>

<script type="module" src="/static/js/sign_up/sign_up_check.js"></script>