<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragment/main_layout_no_aside}"
>
    <head>
        <title th:text="${mode == 'edit' ? '내 정보' : '회원가입'}"></title>
        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        <link rel="stylesheet" href="/static/css/sign_up/sign_up.css">
    </head>
    <body>
        <main layout:fragment="content" style="display: flex">
            <th:block th:if="${mode == 'edit'}">
                <aside th:replace="~{fragment/aside :: ${session != null and session.user != null and session.user.userGbnCd == '10' ? 'asideUser' : (session != null and session.user != null and session.user.userGbnCd == '20' ? 'asideCompany' : 'asideUser')}}"></aside>
            </th:block>
            <div class="sign-up">
                <input type="hidden" name="userGbnCd" id="userGbnCd" th:value="${mode == 'insert' ? userGbnCd : userInfo?.userGbnCd}">
                <div class="title"><span th:text="${userGbnCd == '20' ? '기업' : '구직자'}"></span> <span th:text="${mode == 'edit' ? '정보' : '회원가입'}"></span></div>
                <div class="form-container">
                    <form class="form">
                        <!-- Image Placeholder -->
                        <div class="image-placeholder">
                            <span th:class="${(userInfo?.fileDto?.fileNo == null ? '' : 'on') + ' del-img'}">X</span>
                            <img class="image" th:src="${userInfo?.fileDto?.fileUrl != null ? (userInfo.fileDto.fileUrl + userInfo.fileDto.fileNewName + userInfo.fileDto.fileExt) : ''}">
                            <input type="file" name="profile" id="profile" style="display: none" accept="image/*">
                        </div>

                        <!-- Input Fields -->
                        <div class="input-group">
                            <label for="id">아이디<span class="required-icon">*</span></label>
                            <div class="input-with-button">
                                <input class="required" type="text" id="id" name="id" placeholder="아이디를 입력하세요."
                                       maxlength="20" th:value="${userInfo?.id}" th:readonly="${mode == 'edit'}">
                                <input type="hidden" name="idChk" th:value="${mode == 'edit' ? true : false}">
                                <button type="button" class="check-button" id="check-button" th:if="${mode == 'insert'}">중복체크</button>
                            </div>
                            <label class="msg-label"></label>
                        </div>

                        <div class="input-group">
                            <label for="pw">비밀번호 (8자 이상 + 소문자 + 숫자)<span class="required-icon">*</span></label>
                            <input class="required" name="pw" type="password" id="pw" placeholder="비밀번호를 입력하세요.">
                            <label class="msg-label"></label>
                        </div>

                        <div class="input-group">
                            <label for="confirmPw">비밀번호 확인<span class="required-icon">*</span></label>
                            <input class="required" name="confirmPw" type="password" id="confirmPw"
                                   placeholder="비밀번호를 다시 입력하세요.">
                            <label class="msg-label"></label>
                        </div>

                        <div class="input-group">
                            <label for="name"><span th:text="${userGbnCd == '20' ? '회사명' : '이름'}"></span><span class="required-icon">*</span></label>
                            <input class="required" type="text" id="name" name="name"
                                   th:placeholder="${userGbnCd == '20' ? '회사명' : '이름'} + '을 입력하세요.'"
                                   maxlength="20" th:value="${userInfo?.name}">
                            <label class="msg-label"></label>
                        </div>

                        <div class="input-group">
                            <label for="birth"><span th:text="${userGbnCd == '20' ? '설립일' : '생년월일'}"></span><span class="required-icon">*</span></label>
                            <input class="required" type="date" id="birth" name="birth"
                                   th:placeholder="${userGbnCd == '20' ? '설립일' : '생년월일'} + '을 입력하세요.'"
                                   th:value="${userInfo?.birth}">
                            <label class="msg-label"></label>
                        </div>

                        <div class="input-group">
                            <label for="email"><span th:text="${userGbnCd == '20' ? '대표 이메일' : '이메일'}"></span><span class="required-icon">*</span></label>
                            <input class="required" type="email" id="email" name="email"
                                   th:placeholder="${userGbnCd == '20' ? '대표 이메일' : '이메일'} + '을 입력하세요.'"
                                   maxlength="50"
                                   th:value="${userInfo?.email}">
                            <label class="msg-label"></label>
                        </div>

                        <div class="input-group">
                            <label for="phone"><span th:text="${userGbnCd == '20' ? '대표 전화번호' : '전화번호'}"></span><span class="required-icon">*</span></label>
                            <input class="required" type="text" id="phone" name="phone"
                                   maxlength="11"
                                   th:placeholder="${userGbnCd == '20' ? '대표 전화번호' : '전화번호'} + '를 입력하세요.'"
                                   th:value="${userInfo?.phone}">
                            <label class="msg-label"></label>
                        </div>

                        <div class="input-group">
                            <label for="zipCd">주소<span class="required-icon">*</span></label>
                            <input class="required" type="text" id="zipCd" name="zipCd" placeholder="우편번호를 입력하세요."
                                   readonly th:value="${userInfo?.zipCd}">
                            <button type="button" class="find-address">우편번호 찾기</button>
                            <input class="required" type="text" id="addr" name="addr" placeholder="주소를 입력하세요." readonly th:value="${userInfo?.addr}">
                            <input type="text" id="addrDetail" name="addrDetail" placeholder="상세주소를 입력하세요."
                                   maxlength="100" th:value="${userInfo?.addrDetail}">
                            <label class="msg-label"></label>
                        </div>

                        <!-- Gender Selection -->
                        <div class="input-group" th:if="${userGbnCd == '10'}">
                            <label>성별<span class="required-icon">*</span></label>
                            <div class="gender-selection">
                                <th:block th:each="gender : ${genders}">
                                    <label>
                                        <input th:class="${userGbnCd == '10' ? 'required' : ''}" type="radio"
                                               name="genderCd" th:value="${gender.cd}" th:text="${gender.cdNm}"
                                               placeholder="성별을 입력하세요" th:checked="${userInfo?.genderCd == gender.cd}">
                                    </label>
                                </th:block>
                            </div>
                            <label class="msg-label"></label>
                        </div>

                        <!-- Buttons -->
                        <div class="buttons">
                            <button type="button" class="submit-button" th:if="${mode != 'edit'}">회원가입</button>
                            <button type="button" class="edit-button" th:if="${mode == 'edit'}">수정</button>
                            <button type="reset" class="cancel-button">취소</button>
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </body>
</html>

<script type="module" src="/static/js/sign_up/sign_up.js"></script>