<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/css/job_notice/job_notice_detail.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<div th:replace="~{fragment/header :: userHeader}"></div>
<main>
    <div class="modal-container">
        <div class="modal-step-one modal-wrap on">
            <div class="modal-title">
                지원하기
            </div>
            <div class="modal-content">
                <select id="resumes">
                    <th:block th:each="resume:${resumes}">
                        <option th:value="${resume.resumeId}" th:text="${resume.resumeTitle}"></option>
                    </th:block>
                </select>
            </div>
            <div class="modal-btn">
                <button class="modal-save-btn" onclick="saveModal()">확인</button>
                <button class="modal-close-btn" onclick="applyModal(false)">취소</button>
            </div>
        </div>
    </div>

    <div class="main-container">
        <input type="hidden" id="jobNoticeNum" th:value="${jobNotice.jobNoticeNum}">

        <!--    이미지-->
        <div class="img-container">
            <div class="grid-item" th:each="file : ${jobNotice.fileList}">
                <img class="grid-image" th:src="${file.fileUrl + file.fileNewName + file.fileExt}"
                     onerror="this.src='/static/img/default_image.png'">
            </div>

            <div class="grid-item" th:if="${jobNotice.fileList.size() < 3}"
                 th:each="i : ${#numbers.sequence(1, 3 - jobNotice.fileList.size())}">
                <img class="grid-image" src="/static/img/default_image.png">
            </div>
        </div>

        <!--    제목-->
        <div class="title-container">
            <div class="left-title">
                <div class="top-left">
                    <a th:href="@{'/company-info/' + ${jobNotice.instId}}" th:text="${jobNotice.companyName}"></a>
                    <span th:text="'&nbsp;|&nbsp;'+${jobNotice.jobNoticeArea}+'&nbsp;|&nbsp;'+${jobNotice.careerName}"></span>
                </div>
                <div class="bottom-left">
                    <h3 th:text="${jobNotice.jobNoticeTitle}"></h3>
                </div>
            </div>
            <div class="right-title">
                <div class="top-right">
                    <th:block th:if="${session.user.userGbnCd == '10'}">
                        <i id="like" th:class="${(jobNotice.likeYn > 0 ? 'fas' : 'far') + ' fa-heart'}"
                           style="font-size: 1.5rem;" th:data-jobNoticeNum="${jobNotice.jobNoticeNum}"></i>
                        <button onclick="applyModal(true)" id="apply-btn">지원하기</button>
                    </th:block>
                    <th:block th:if="${session.user.userGbnCd == '20'}">
                        <button onclick="endNotice()" id="apply-btn" th:disabled="${jobNotice.jobNoticeStatus == '30'}">
                            마감하기
                        </button>
                    </th:block>
                </div>
                <div class="bottom-right">
                    <p th:text="'조회수 : '+${jobNotice.vCnt+1}"></p>
                    <p th:text="'작성일 : '+ ${@dateUtil.formatYearMonthDay(jobNotice.instDt)}"></p>
                </div>
            </div>
        </div>

        <div class="detail-content">
            <table id="detail-table">
                <tr>
                    <td class="name" th:text="경력"></td>
                    <td class="table-content" th:text="${jobNotice.careerName}"></td>
                    <td class="name" th:text="급여"></td>
                    <td class="table-content" th:text="${jobNotice.jobNoticePay}"></td>
                </tr>
                <tr>
                    <td class="name" th:text="학력"></td>
                    <td class="table-content" th:text="${jobNotice.educationName}"></td>
                    <td class="name" th:text="근무일"></td>
                    <td class="table-content" th:text="${jobNotice.jobNoticeWorktime}"></td>
                </tr>
                <tr>
                    <td class="name" th:text="근무형태"></td>
                    <td class="table-content" th:text="${jobNotice.workName}"></td>
                    <td class="name" th:text="근무지역"></td>
                    <td class="table-content" th:text="${jobNotice.jobNoticeArea}"></td>
                </tr>
            </table>
        </div>

        <div class="main-content">
            <div class="mn-form" id="jobNoticeDetail">
                <h3>모집부문 및 상세내용</h3>
                <p th:text="${jobNotice.jobNoticeDetail}"></p>
            </div>
            <div class="mn-form" id="jobNoticeWorkJogun">
                <h3>근무조건</h3>
                <p th:text="${jobNotice.jobNoticeWorkJogun}"></p>
            </div>
            <div class="mn-form" id="step">
                <h3>채용절차</h3>
                <div id="stepIcon">
                    <button class="default-step">서류전형</button>
                    <div class="line"></div>
                    <th:block th:each="step : ${jobNotice.stepList}">
                        <button class="add-step" th:text="${step}"></button>
                        <div class="line"></div>
                    </th:block>
                    <button class="default-step">최종합격</button>
                </div>
            </div>
            <div class="mn-form" id="jobNoticeWay">
                <h3>접수기간 및 방법</h3>
                <p th:text="${jobNotice.jobNoticeWay}"></p>
            </div>
            <div class="mn-form" id="jobNoticeCaution">
                <h3>유의사항</h3>
                <p th:text="${jobNotice.jobNoticeCaution}"></p>
            </div>
        </div>
        <hr>
        <div class="bottom-content">
            <div class="bottom-form" id="welfare">
                <h3>복리후생</h3>
                <div id="welfare-content">
                    <th:block th:each="welfare : ${jobNotice.welfareList}">
                        <span th:text="${welfare}"></span>
                    </th:block>
                </div>
            </div>
            <div class="bottom-form" id="stack">
                <h3>기술 스택</h3>
                <div id="stack-content">
                    <th:block th:each="stack : ${jobNotice.stackList}">
                        <button th:text="${stack}"></button>
                    </th:block>
                </div>
            </div>
            <div class="bottom-form" id="notice-period">
                <h3>채용기간</h3>
                <div id="str-btn-container">
                    <button id="str-btn" th:text="시작일"></button>
                    <span th:text="${jobNotice.jobNoticeStrDate}"></span>
                </div>
                <div id="end-btn-container">
                    <button id="end-btn" th:text="마감일"></button>
                    <span th:text="${jobNotice.jobNoticeEndDate}"></span>
                </div>
            </div>
        </div>
        <hr>

        <div class="board" th:if="${session.user.userGbnCd == '10'}">
            <div id="board-content">
                <span>궁금하신 내용을 입력해주시면</span>
                <span> 명확히 신속하게 전달 드리겠습니다. </span>
            </div>
            <a href="/board-form">
                <div id="board-icon">
                    <p><a th:href="@{/board/board-form(boardTarget=${jobNotice.getCompanyName()})}">1:1 문의하기</a> <i class="bi bi-arrow-up-right-circle"></i></p>
                    <a th:href="@{/board/board-form(boardTarget=${job.companyId})}">
                    <a th:href="@{/resume/resume-detail/{resumeId}(resumeId=${resume.resumeId})}" class="resume-link" th:text="${resume.resumeTitle}">
                    <!--                <i id="mailbox" class="bi bi-mailbox"></i>-->
                </div>
            </a>>
            <hr>
        </div>


        <div class="apply" th:if="${session.user.userGbnCd == '20' && session.user.id == jobNotice.instId}">
            <h3>지원현황</h3>
            <th:block th:each="applyStatus : ${applyStatusList}">
                <div id="apply-con">
                    <div id="apply-one">
                        <div id="apply-left">
                            <p id="name" th:text="${applyStatus.name}"></p>
                            <p id="apply-left-content"
                               th:text="${applyStatus.genderCd}+'&nbsp;|&nbsp;'+${applyStatus.resumeTitle}"></p>
                        </div>
                        <div id="apply-right">
                            <p id="apply-dt"
                               th:text="'작성일 : ' + ${@dateUtil.formatYearMonthDayLocalDateTime(applyStatus.instDt)}"></p>
                            <div id="right-bottom">
                                <th:block th:each="stack:${applyStatus.stackCdList}">
                                    <button class="stack-btns" th:text="${stack}"></button>
                                </th:block>
                            </div>
                        </div>
                    </div>
                    <div id="apply-check">
                        <select class="jobNoticeWorkGbnCd" th:data-jobNoticeNum="${applyStatus.jobNoticeNum}"
                                th:data-resumeId="${applyStatus.resumeId}"
                                th:disabled="${jobNotice.jobNoticeStatus == '30'}">
                            <th:block th:each="applyGbnCd : ${applyGbnCdList}">
                                <option th:value="${applyGbnCd.cd}"
                                        th:text="${applyGbnCd.cdNm}"
                                        th:selected="${applyStatus.applyGbnCd == applyGbnCd.cd}"></option>
                            </th:block>
                        </select>
                    </div>
                </div>
            </th:block>
        </div>

    </div>
</main>
<div th:replace="~{fragment/footer :: footer}"></div>
</body>
<script>

    //지원현황 업데이트
    document.body.addEventListener("change", function (event) {
        if (event.target.classList.contains("jobNoticeWorkGbnCd")) {
            const selectedValue = event.target.value; // 선택한 값
            const jobNoticeNum = event.target.dataset.jobnoticenum;
            const resumeId = event.target.dataset.resumeid;

            const dto = {
                jobNoticeNum: parseInt(jobNoticeNum, 10),
                resumeId: resumeId,
                applyGbnCd: selectedValue
            };

            api.put('/api/v1/apply-status', dto)
                .then(response => {
                    console.log('Success:', response.data);
                    alert('상태가 변경 완료되었습니다.');
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('오류가 발생했습니다. 다시 시도해주세요.');
                });
        }
    });


    //스크랩 등록
    document.getElementById("like").addEventListener("click", function () {
        let param = {
            target: this.getAttribute("data-jobNoticeNum"),
            likeGbnCd: "30",
            likedStatus: this.classList.contains("fas"),
        };

        if (confirm(param.likedStatus ? "스크랩을 취소 하시겠습니까?" : "스크랩으로 등록 하시겠습니까?")) {
            api.post("/api/v1/like", param)
                .then(data => {
                    if (param.likedStatus) {
                        this.classList.remove('fas');
                        this.classList.add('far');
                    } else {
                        this.classList.remove('far');
                        this.classList.add('fas');
                    }
                    // location.reload();
                })
                .catch(error => console.error(error));
        }
    });


    //공고 채용종료
    function endNotice() {
        const jobNoticeNum = document.querySelector('#jobNoticeNum').value; // 공고 번호를 가져옴
        console.log(jobNoticeNum);
        api.put('/api/v1/job-notice-status?jobNoticeNum=' + jobNoticeNum)
            .then(response => {
                console.log('공고 상태가 마감 처리되었습니다:', response.data);
                alert('공고가 마감되었습니다.');
                location.reload(); // 페이지 새로고침
            })
            .catch(error => {
                console.error('오류 발생:', error);
                alert('오류가 발생했습니다. 다시 시도해주세요.');
            });
    }

    //공고 지원
    function applyModal(t) {
        if (t) {
            document.querySelector(".modal-container").classList.add("on");
        } else {
            document.querySelector(".modal-container").classList.remove("on");
        }
    }

    function saveModal() {
        const jobNoticeNum = document.querySelector('#jobNoticeNum').value;
        const resumeId = document.querySelector('#resumes').value;
        api.post('/api/v1/apply-resume?jobNoticeNum=' + jobNoticeNum + '&resumeId=' + resumeId)
            .then(data => {
                console.log(data)
                alert('지원 완료');
                applyModal(false);
            })
            .catch(error => console.error(error));
    }


</script>
</html>