<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragment/main_layout_with_aside}">
  <head>
    <title>Example with Aside</title>
    <link rel="stylesheet" href="/static/css/company_info/company_info_edit.css">
  </head>
  <body>
    <main layout:fragment="content">
      <h1>Page with Aside</h1>
      <div class="company-info-edit">
        <form>
          <div class="form-group">
            <label for="ceoName">대표자명 <span class="required-icon">*</span></label>
            <input class="required" type="text" name="ceoName" id="ceoName" placeholder="대표자명을 입력해 주세요." maxlength="50">
          </div>

          <div class="form-group">
            <label for="companyTypeCd">기업형태 <span class="required-icon">*</span></label>
            <select class="required" id="companyTypeCd" name="companyTypeCd" placeholder="기업형태를 선택해 주세요.">
              <option value="">기업형태를 선택해 주세요.</option>
              <option value="type1">타입 1</option>
              <option value="type2">타입 2</option>
            </select>
          </div>

          <div class="form-group">
            <label for="businessNum">사업자 등록 번호 <span class="required-icon">*</span></label>
            <input class="required" type="text" id="businessNum" name="businessNum" placeholder="사업자등록번호를 입력해 주세요." maxlength="11">
          </div>

          <div class="form-group">
            <label for="companyIndustry">업종 <span class="required-icon">*</span></label>
            <input class="required" type="text" id="companyIndustry" name="companyIndustry" placeholder="업종을 입력해 주세요." maxlength="50">
          </div>

          <div class="form-group">
            <label for="homepage">홈페이지</label>
            <input type="text" id="homepage" name="homepage" placeholder="홈페이지를 입력해 주세요." maxlength="255">
          </div>

          <div class="form-group">
            <label for="company-details">기업 설명</label>
            <textarea id="company-details" name="companyDetail" placeholder="기업 설명을 입력해 주세요."></textarea>
          </div>

          <div class="form-group">
            <label for="history">연혁</label>
            <div class="input-list" id="history-list">
              <!-- 연혁 항목 -->
            </div>
            <button type="button" class="add-btn" data-list_id="history">+</button>
          </div>

          <div class="form-group">
            <label for="employees">사원 수</label>
            <div class="input-list" id="employees-list">
              <!-- 사원 수 항목 -->
            </div>
            <button type="button" class="add-btn" data-list_id="employees">+</button>
          </div>

          <div class="form-group">
            <label for="sales">매출액</label>
            <div class="input-list" id="sales-list">
              <!-- 매출액 항목 -->
            </div>
            <button type="button" class="add-btn" data-list_id="sales">+</button>
          </div>

          <button type="button" class="submit-btn">저장</button>
        </form>
      </div>

      <!-- 모달 -->
      <div id="modal" class="modal">
        <div class="modal-content">
          <label for="modal-date">연월</label>
          <div class="input-wrapper">
            <input type="month" name="modal-date" id="modal-date" placeholder="YYYY.MM">
<!--            <span class="calendar-icon">📅</span>-->
          </div>
          <label for="modal-content">내용</label>
          <input id="modal-content" name="modal-content" placeholder="내용을 입력하세요"></input>
          <div class="button-group">
            <button type="button" class="modal-confirm-btn" onclick="">확인</button>
            <button type="button" class="modal-cancel-btn" onclick="">취소</button>
          </div>
        </div>
      </div>
    </main>


  </body>
</html>

<script>

</script>

<script type="module" src="/static/js/company_info/company_info_edit.js"></script>